<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <!-- Meta information -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/layout.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/elements.css" media="all">
    
    <title>Bonsai &bull; Admin</title>
  </head>
  <body>  
    <!-- Container -->
    <div id="container" class="container_12 clearfix">
      <!-- Header -->
      <div id="header" class="grid_12">
        <!-- Site logo -->
        <div id="logo" class="grid_2 alpha">
          <h1>Bonsai</h1>
        </div>

        <div id="navigation" class="grid_10 omega">
          <ul class="clearfix">
            <li>
              {{'Dashboard'}}
            </li>
            <li>
              <a href="#">{{'Content'}}</a>
              <ul>
                <li>
                  <a href="#">{{'Sections'}}</a>
                </li>
                <li>
                  <a href="#">{{'Custom Fields'}}</a>
                </li>
                <li>
                  <a href="#">{{'Categories'}}</a>
                </li>
                <li>
                  <a href="#">{{'Comments'}}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">{{'Extensions'}}</a>
              
              <ul>
                <li>
                  <a href="#">{{'Modules'}}</a>
                </li>
                <li>
                  <a href="#">{{'Plugins'}}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">{{'Users'}}</a>
            </li>
            <li>
              {{'Settings'}}
            </li>
          </ul>
        </div>
        
      </div>
    
      <!-- Main content -->
      <div id="content" class="grid_9">
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

      <!-- Sidebar -->
      <div id="sidebar" class="grid_3">
        
      </div>

      <!-- Footer -->
      <div id="footer" class="grid_12">
        <p>Bonsai v0.1b</p>
      </div>
    </div>
  </body>
</html>

